.cv-builder-page {
  display: flex;
  height: calc(100vh - 70px); /* Full height minus header */
}

@media (max-width: 1024px) {
  .cv-builder-page {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 767px) {
  .mobile-view-editor .preview-panel-container {
    display: none;
  }

  .mobile-view-preview .control-panel {
    display: none;
  }
}