
.cv-builder-page {
  display: flex;
  height: 100vh;
}

@media (max-width: 1024px) {
  .cv-builder-page {
    flex-direction: column;
    height: auto;
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .mobile-view-editor .preview-panel-container {
    display: none;
  }

  .mobile-view-preview .control-panel {
    display: none;
  }
}

