.hero-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none; /* Allows clicking through the gallery */
}

.hero-gallery::before, .hero-gallery::after {
    content: '';
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 2;
}

.hero-gallery::before {
    left: 0;
    background: linear-gradient(to right, var(--color-background), transparent);
}

.hero-gallery::after {
    right: 0;
    background: linear-gradient(to left, var(--color-background), transparent);
}

.gallery-track {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
  width: max-content;
  -webkit-animation: scroll 80s linear infinite;
  -moz-animation: scroll 80s linear infinite;
  -o-animation: scroll 80s linear infinite;
  animation: scroll 80s linear infinite;
}

.gallery-image {
  height: 480px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: translateY(-5px);
  animation-play-state: paused;
}

@media (max-width: 767px) {
  .gallery-image {
    height: 300px;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@-webkit-keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}