.sortable-preview-item {
  position: relative;
  width: 100%;
  background-color: rgba(var(--color-success-rgb), 0.05);
  border: 1px dashed var(--color-success);
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.drag-handle-preview {
  padding: 0 10px;
  cursor: grab;
  color: var(--color-text);
  opacity: 0.4;
  align-self: stretch;
  display: flex;
  align-items: center;
  background-color: rgba(var(--color-success-rgb), 0.1);
}

.drag-handle-preview:active {
  cursor: grabbing;
}

.item-content-preview {
  flex-grow: 1;
  padding: 10px;
}